@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.woff2') format('woff2'),
       url('/fonts/fontello.woff') format('woff'),
       url('/fonts/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?90405308#fontello') format('svg');
  }
}
*/
[class^="el-"]:before, [class*=" el-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.el-activity-ultra-1:before { content: '\e800'; } /* '' */
.el-activity-ultra:before { content: '\e801'; } /* '' */
.el-activity2-ultra:before { content: '\e802'; } /* '' */
.el-radio-icon-ultra-18:before { content: '\e803'; } /* '' */
.el-alert-circle-fill:before { content: '\e804'; } /* '' */
.el-alert-circle-ultra:before { content: '\e805'; } /* '' */
.el-alert-triangle-fill:before { content: '\e806'; } /* '' */
.el-alert-triangle-ultra:before { content: '\e807'; } /* '' */
.el-analytics-thin:before { content: '\e808'; } /* '' */
.el-analytics-v2-fill:before { content: '\e809'; } /* '' */
.el-arrange-arrows-ultra:before { content: '\e80a'; } /* '' */
.el-arrow-down-ultra:before { content: '\e80b'; } /* '' */
.el-arrow-download-ultra:before { content: '\e80c'; } /* '' */
.el-arrow-left-ultra:before { content: '\e80d'; } /* '' */
.el-arrow-right-ultra:before { content: '\e80e'; } /* '' */
.el-arrow-up-left-ultra:before { content: '\e80f'; } /* '' */
.el-arrow-up-right-ultra:before { content: '\e810'; } /* '' */
.el-arrow-up-ultra:before { content: '\e811'; } /* '' */
.el-arrow-upload-ultra:before { content: '\e812'; } /* '' */
.el-assessment-fill:before { content: '\e813'; } /* '' */
.el-assessment-ultra:before { content: '\e814'; } /* '' */
.el-at-sign-ultra:before { content: '\e815'; } /* '' */
.el-award-ultra:before { content: '\e816'; } /* '' */
.el-az-sort-ultra:before { content: '\e817'; } /* '' */
.el-bar-chart-ultra:before { content: '\e818'; } /* '' */
.el-bell-off-ultra:before { content: '\e819'; } /* '' */
.el-bell-ultra:before { content: '\e81a'; } /* '' */
.el-block-limit-bold:before { content: '\e81b'; } /* '' */
.el-block-ultra:before { content: '\e81c'; } /* '' */
.el-blur-fill-ultra:before { content: '\e81d'; } /* '' */
.el-bold-ultra:before { content: '\e81e'; } /* '' */
.el-book-open-ultra:before { content: '\e81f'; } /* '' */
.el-bookmark-fill:before { content: '\e820'; } /* '' */
.el-bookmark-ultra:before { content: '\e821'; } /* '' */
.el-box-ultra:before { content: '\e822'; } /* '' */
.el-braces-ultra:before { content: '\e823'; } /* '' */
.el-branch-ultra:before { content: '\e824'; } /* '' */
.el-briefcase-fill:before { content: '\e825'; } /* '' */
.el-briefcase-ultra:before { content: '\e826'; } /* '' */
.el-browse-ultra:before { content: '\e827'; } /* '' */
.el-calendar-ultra:before { content: '\e828'; } /* '' */
.el-camera-ultra:before { content: '\e829'; } /* '' */
.el-chart-ultra:before { content: '\e82a'; } /* '' */
.el-check-circle-fill:before { content: '\e82b'; } /* '' */
.el-check-circle-ultra:before { content: '\e82c'; } /* '' */
.el-checkmark-ultra:before { content: '\e82d'; } /* '' */
.el-chevron-down-ultra:before { content: '\e82e'; } /* '' */
.el-chevron-left-ultra:before { content: '\e82f'; } /* '' */
.el-chevron-right-ultra:before { content: '\e830'; } /* '' */
.el-chevron-up-ultra:before { content: '\e831'; } /* '' */
.el-chevrones-sort-ultra:before { content: '\e832'; } /* '' */
.el-chevrons-left-ultra:before { content: '\e833'; } /* '' */
.el-chevrons-right-ultra:before { content: '\e834'; } /* '' */
.el-circle-ultra:before { content: '\e835'; } /* '' */
.el-clock-ultra:before { content: '\e836'; } /* '' */
.el-cloud-download-ultra:before { content: '\e837'; } /* '' */
.el-cloud-upload-ultra:before { content: '\e838'; } /* '' */
.el-code-ultra-1:before { content: '\e839'; } /* '' */
.el-code-ultra:before { content: '\e83a'; } /* '' */
.el-coffee-ultra:before { content: '\e83b'; } /* '' */
.el-collapse-to-corner-fill:before { content: '\e83c'; } /* '' */
.el-collapse-to-corner:before { content: '\e83d'; } /* '' */
.el-collapse-ultra:before { content: '\e83e'; } /* '' */
.el-color-drop-fill:before { content: '\e83f'; } /* '' */
.el-color-drop-ultra:before { content: '\e840'; } /* '' */
.el-compose-ultra:before { content: '\e841'; } /* '' */
.el-comps-fill:before { content: '\e842'; } /* '' */
.el-comps-ultra:before { content: '\e843'; } /* '' */
.el-copy-ultra:before { content: '\e844'; } /* '' */
.el-corner-down-left-ultra:before { content: '\e845'; } /* '' */
.el-corner-down-right-ultra:before { content: '\e846'; } /* '' */
.el-corner-down:before { content: '\e847'; } /* '' */
.el-corner-left:before { content: '\e848'; } /* '' */
.el-corner-right:before { content: '\e849'; } /* '' */
.el-corner-up-left-ultra:before { content: '\e84a'; } /* '' */
.el-corner-up-right-ultra:before { content: '\e84b'; } /* '' */
.el-corners:before { content: '\e84c'; } /* '' */
.el-credit-card-ultra:before { content: '\e84d'; } /* '' */
.el-croner-up:before { content: '\e84e'; } /* '' */
.el-currency-square-ultra:before { content: '\e84f'; } /* '' */
.el-data-ultra:before { content: '\e850'; } /* '' */
.el-desktop-ultra:before { content: '\e851'; } /* '' */
.el-dislike-ultra:before { content: '\e852'; } /* '' */
.el-div-ultra:before { content: '\e853'; } /* '' */
.el-drag:before { content: '\e854'; } /* '' */
.el-edit-ultra:before { content: '\e855'; } /* '' */
.el-edit2-ultra:before { content: '\e856'; } /* '' */
.el-editor-bold:before { content: '\e857'; } /* '' */
.el-editor-bullet:before { content: '\e858'; } /* '' */
.el-editor-clear-formatting:before { content: '\e859'; } /* '' */
.el-editor-code:before { content: '\e85a'; } /* '' */
.el-editor-crossed-text:before { content: '\e85b'; } /* '' */
.el-editor-icons-v2:before { content: '\e85c'; } /* '' */
.el-editor-image:before { content: '\e85d'; } /* '' */
.el-editor-inline-code:before { content: '\e85e'; } /* '' */
.el-editor-italic:before { content: '\e85f'; } /* '' */
.el-editor-link:before { content: '\e860'; } /* '' */
.el-editor-num:before { content: '\e861'; } /* '' */
.el-editor-quote:before { content: '\e862'; } /* '' */
.el-editor-redo:before { content: '\e863'; } /* '' */
.el-editor-text-center:before { content: '\e864'; } /* '' */
.el-editor-text-color:before { content: '\e865'; } /* '' */
.el-editor-text-full-width:before { content: '\e866'; } /* '' */
.el-editor-text-left:before { content: '\e867'; } /* '' */
.el-editor-text-right:before { content: '\e868'; } /* '' */
.el-editor-underline:before { content: '\e869'; } /* '' */
.el-editor-undo:before { content: '\e86a'; } /* '' */
.el-edu-ultra:before { content: '\e86b'; } /* '' */
.el-eva-ai-agent-ic:before { content: '\e86c'; } /* '' */
.el-eva-ai-ultra:before { content: '\e86d'; } /* '' */
.el-eva-brand-ultra:before { content: '\e86e'; } /* '' */
.el-eva-ssess-ultra:before { content: '\e86f'; } /* '' */
.el-event-logs-ultra:before { content: '\e870'; } /* '' */
.el-event-ultra:before { content: '\e871'; } /* '' */
.el-expand-ultra:before { content: '\e872'; } /* '' */
.el-eye-off-ultra:before { content: '\e873'; } /* '' */
.el-eye-ultra:before { content: '\e874'; } /* '' */
.el-facetrack-ultra:before { content: '\e875'; } /* '' */
.el-fb-fill:before { content: '\e876'; } /* '' */
.el-radio-icon-selected:before { content: '\e877'; } /* '' */
.el-file-download-ultra:before { content: '\e878'; } /* '' */
.el-file-fill-1:before { content: '\e879'; } /* '' */
.el-file-fill-2:before { content: '\e87a'; } /* '' */
.el-file-fill:before { content: '\e87b'; } /* '' */
.el-file-minus-ultra:before { content: '\e87c'; } /* '' */
.el-file-plus-ultra:before { content: '\e87d'; } /* '' */
.el-file-ulpoad-ultra:before { content: '\e87e'; } /* '' */
.el-file-ultra:before { content: '\e87f'; } /* '' */
.el-filter-add-ultra:before { content: '\e880'; } /* '' */
.el-filter-remove-ultra:before { content: '\e881'; } /* '' */
.el-filter-ultra:before { content: '\e882'; } /* '' */
.el-filter2-fill:before { content: '\e883'; } /* '' */
.el-graduation-ultra:before { content: '\e884'; } /* '' */
.el-filter3-ultra:before { content: '\e885'; } /* '' */
.el-fire-ultra:before { content: '\e886'; } /* '' */
.el-flag-ultra:before { content: '\e887'; } /* '' */
.el-flow-ultra:before { content: '\e888'; } /* '' */
.el-folder-ultra:before { content: '\e889'; } /* '' */
.el-form-ultra:before { content: '\e88a'; } /* '' */
.el-formula-square-ultra:before { content: '\e88b'; } /* '' */
.el-formula-ultra:before { content: '\e88c'; } /* '' */
.el-gem-ultra:before { content: '\e88d'; } /* '' */
.el-globe-ultra:before { content: '\e88e'; } /* '' */
.el-grid-ultra:before { content: '\e88f'; } /* '' */
.el-heart-ultra:before { content: '\e890'; } /* '' */
.el-help-circle-fill:before { content: '\e891'; } /* '' */
.el-help-circle-out-bold:before { content: '\e892'; } /* '' */
.el-help-circle-out-thin:before { content: '\e893'; } /* '' */
.el-home2-fill:before { content: '\e894'; } /* '' */
.el-home2-ultra:before { content: '\e895'; } /* '' */
.el-ig-fill:before { content: '\e896'; } /* '' */
.el-ai-chat-ic-mic:before { content: '\e897'; } /* '' */
.el-image-ultra:before { content: '\e898'; } /* '' */
.el-in-fil:before { content: '\e899'; } /* '' */
.el-in-social-ultra:before { content: '\e89a'; } /* '' */
.el-inbox-fill:before { content: '\e89b'; } /* '' */
.el-inbox-ultra:before { content: '\e89c'; } /* '' */
.el-indicator-dot:before { content: '\e89d'; } /* '' */
.el-info-fill:before { content: '\e89e'; } /* '' */
.el-info-ultra:before { content: '\e89f'; } /* '' */
.el-instance-ultra:before { content: '\e8a0'; } /* '' */
.el-italic-ultra:before { content: '\e8a1'; } /* '' */
.el-key-ultra:before { content: '\e8a2'; } /* '' */
.el-layers-ultra:before { content: '\e8a3'; } /* '' */
.el-layout-2-ultra:before { content: '\e8a4'; } /* '' */
.el-layout-center-ultra:before { content: '\e8a5'; } /* '' */
.el-layout-ultra:before { content: '\e8a6'; } /* '' */
.el-layoutflex-ultra:before { content: '\e8a7'; } /* '' */
.el-ai-chat-ic-copy:before { content: '\e8a8'; } /* '' */
.el-like-ultra:before { content: '\e8a9'; } /* '' */
.el-line-chart-ultra:before { content: '\e8aa'; } /* '' */
.el-link-ultra:before { content: '\e8ab'; } /* '' */
.el-link2-ultra:before { content: '\e8ac'; } /* '' */
.el-list-layout-ultra:before { content: '\e8ad'; } /* '' */
.el-loader-ultra:before { content: '\e8ae'; } /* '' */
.el-lock-small-fill:before { content: '\e8af'; } /* '' */
.el-lock-ultra:before { content: '\e8b0'; } /* '' */
.el-mail-fill:before { content: '\e8b1'; } /* '' */
.el-mail-ultra:before { content: '\e8b2'; } /* '' */
.el-enfinity-logo:before { content: '\e8b3'; } /* '' */
.el-maximize-ultra:before { content: '\e8b4'; } /* '' */
.el-maximize-video-ultra:before { content: '\e8b5'; } /* '' */
.el-menu-ultra:before { content: '\e8b6'; } /* '' */
.el-message-circle-fill:before { content: '\e8b7'; } /* '' */
.el-message-circle-ultra:before { content: '\e8b8'; } /* '' */
.el-message-dots-fill:before { content: '\e8b9'; } /* '' */
.el-message-dots-ultra:before { content: '\e8ba'; } /* '' */
.el-mic-muted-ultra:before { content: '\e8bb'; } /* '' */
.el-mic-ultra:before { content: '\e8bc'; } /* '' */
.el-minimize-ultra:before { content: '\e8bd'; } /* '' */
.el-minimize2-thin:before { content: '\e8be'; } /* '' */
.el-mobile-ultra:before { content: '\e8bf'; } /* '' */
.el-more-horizontal:before { content: '\e8c0'; } /* '' */
.el-more-vertical:before { content: '\e8c1'; } /* '' */
.el-num-square-ultra:before { content: '\e8c2'; } /* '' */
.el-num-ultra:before { content: '\e8c3'; } /* '' */
.el-onboarding2-fill:before { content: '\e8c4'; } /* '' */
.el-onboarding2-ultra:before { content: '\e8c5'; } /* '' */
.el-org-2-ultra:before { content: '\e8c6'; } /* '' */
.el-org-fill:before { content: '\e8c7'; } /* '' */
.el-padding-bottom-ultra:before { content: '\e8c8'; } /* '' */
.el-padding-left-ultra:before { content: '\e8c9'; } /* '' */
.el-padding-right-ultra:before { content: '\e8ca'; } /* '' */
.el-padding-top-ultra:before { content: '\e8cb'; } /* '' */
.el-paperclip-ultra:before { content: '\e8cc'; } /* '' */
.el-percent-ultra:before { content: '\e8cd'; } /* '' */
.el-phone-fill:before { content: '\e8ce'; } /* '' */
.el-phone-ultra:before { content: '\e8cf'; } /* '' */
.el-pie-ultra:before { content: '\e8d0'; } /* '' */
.el-pin-ultra:before { content: '\e8d1'; } /* '' */
.el-pipelines-fill:before { content: '\e8d2'; } /* '' */
.el-pipelines-ultra:before { content: '\e8d3'; } /* '' */
.el-play-circle-fill:before { content: '\e8d4'; } /* '' */
.el-play-circle-ultra:before { content: '\e8d5'; } /* '' */
.el-play-fill:before { content: '\e8d6'; } /* '' */
.el-play-ultra:before { content: '\e8d7'; } /* '' */
.el-plus-circle-fill:before { content: '\e8d8'; } /* '' */
.el-plus-circle-ultra:before { content: '\e8d9'; } /* '' */
.el-plus-ultra:before { content: '\e8da'; } /* '' */
.el-poly-ultra:before { content: '\e8db'; } /* '' */
.el-power-off-ultra:before { content: '\e8dc'; } /* '' */
.el-refereces-ultra:before { content: '\e8dd'; } /* '' */
.el-ai-chat-ic-pencil:before { content: '\e8de'; } /* '' */
.el-refresh-ultra:before { content: '\e8df'; } /* '' */
.el-reminder-ultra:before { content: '\e8e0'; } /* '' */
.el-rich-text-ultra:before { content: '\e8e1'; } /* '' */
.el-sad-ultra:before { content: '\e8e2'; } /* '' */
.el-save-ultra:before { content: '\e8e3'; } /* '' */
.el-search-ultra:before { content: '\e8e4'; } /* '' */
.el-select-ultra:before { content: '\e8e5'; } /* '' */
.el-send-fill:before { content: '\e8e6'; } /* '' */
.el-send-ultra:before { content: '\e8e7'; } /* '' */
.el-send2-ultra:before { content: '\e8e8'; } /* '' */
.el-setting-ultra:before { content: '\e8e9'; } /* '' */
.el-share-ultra:before { content: '\e8ea'; } /* '' */
.el-shield-checkmark-ultra:before { content: '\e8eb'; } /* '' */
.el-shield-cross-ultra:before { content: '\e8ec'; } /* '' */
.el-shield-ultra:before { content: '\e8ed'; } /* '' */
.el-signature-3:before { content: '\e8ee'; } /* '' */
.el-skip-back-fill:before { content: '\e8ef'; } /* '' */
.el-skip-back-ultra:before { content: '\e8f0'; } /* '' */
.el-skip-forward-fill:before { content: '\e8f1'; } /* '' */
.el-skip-forward-ultra:before { content: '\e8f2'; } /* '' */
.el-smile-ultra:before { content: '\e8f3'; } /* '' */
.el-sort-arrow-ultra:before { content: '\e8f4'; } /* '' */
.el-sort-corner-fill:before { content: '\e8f5'; } /* '' */
.el-sort-corner-ultra:before { content: '\e8f6'; } /* '' */
.el-sortdown-ultra:before { content: '\e8f7'; } /* '' */
.el-sortup-ultra:before { content: '\e8f8'; } /* '' */
.el-speak-ultra:before { content: '\e8f9'; } /* '' */
.el-spinner-fill:before { content: '\e8fa'; } /* '' */
.el-star-fill:before { content: '\e8fb'; } /* '' */
.el-star-ultra:before { content: '\e8fc'; } /* '' */
.el-stick-to-corner-fill:before { content: '\e8fd'; } /* '' */
.el-stick-to-corner:before { content: '\e8fe'; } /* '' */
.el-stop-fill:before { content: '\e8ff'; } /* '' */
.el-stop-ultra:before { content: '\e900'; } /* '' */
.el-string-square-ultra:before { content: '\e901'; } /* '' */
.el-style-ultra:before { content: '\e902'; } /* '' */
.el-table-ultra:before { content: '\e903'; } /* '' */
.el-tag-ultra:before { content: '\e904'; } /* '' */
.el-target-ultra:before { content: '\e905'; } /* '' */
.el-target2-ultra:before { content: '\e906'; } /* '' */
.el-task:before { content: '\e907'; } /* '' */
.el-tasks1-ultra:before { content: '\e908'; } /* '' */
.el-telegram-fill:before { content: '\e909'; } /* '' */
.el-templates-fill:before { content: '\e90b'; } /* '' */
.el-templates-ultra:before { content: '\e90c'; } /* '' */
.el-text-center-ultra:before { content: '\e90d'; } /* '' */
.el-text-left-ultra:before { content: '\e90e'; } /* '' */
.el-text-plain-ultra:before { content: '\e90f'; } /* '' */
.el-text-right-ultra:before { content: '\e910'; } /* '' */
.el-text-theme-wide:before { content: '\e911'; } /* '' */
.el-tile-ultra:before { content: '\e912'; } /* '' */
.el-tile2-ultra:before { content: '\e913'; } /* '' */
.el-traget3:before { content: '\e914'; } /* '' */
.el-transcipt-ultra:before { content: '\e915'; } /* '' */
.el-translation-ultra:before { content: '\e916'; } /* '' */
.el-trash-ultra:before { content: '\e917'; } /* '' */
.el-type-ultra:before { content: '\e918'; } /* '' */
.el-underline-ultra:before { content: '\e919'; } /* '' */
.el-unlock-ultra:before { content: '\e91a'; } /* '' */
.el-user-plus-ultra:before { content: '\e91b'; } /* '' */
.el-user-ultra:before { content: '\e91c'; } /* '' */
.el-users-fill:before { content: '\e91d'; } /* '' */
.el-users-ultra:before { content: '\e91e'; } /* '' */
.el-vertical-ultra:before { content: '\e91f'; } /* '' */
.el-video-fill:before { content: '\e920'; } /* '' */
.el-volume-down-ultra:before { content: '\e921'; } /* '' */
.el-volume-off-ultra:before { content: '\e922'; } /* '' */
.el-volume-off2-ultra:before { content: '\e923'; } /* '' */
.el-volume-ultra:before { content: '\e924'; } /* '' */
.el-weights-ultra:before { content: '\e925'; } /* '' */
.el-whatsapp-fill:before { content: '\e926'; } /* '' */
.el-x-circle-fill:before { content: '\e928'; } /* '' */
.el-x-fill:before { content: '\e929'; } /* '' */
.el-x-ultra-1:before { content: '\e92b'; } /* '' */
.el-x-ultra:before { content: '\e92c'; } /* '' */
.el-youtube-fill:before { content: '\e92d'; } /* '' */
.el-za-sort-ultra:before { content: '\e92f'; } /* '' */
.el-zap-fill:before { content: '\e930'; } /* '' */
.el-zap-ultra:before { content: '\e931'; } /* '' */
.el-adjustment-ultra:before { content: '\e932'; } /* '' */
.el-filter2-ultra:before { content: '\e933'; } /* '' */
.el-whatsapp-ultra:before { content: '\e934'; } /* '' */
.el-reference-fill:before { content: '\e935'; } /* '' */
.el-reference-ultra:before { content: '\e936'; } /* '' */
.el-ai-chat-ic-plus:before { content: '\e937'; } /* '' */
.el-ai-chat-ic-send:before { content: '\e938'; } /* '' */
.el-ai-chat-ic-pulse:before { content: '\e939'; } /* '' */
.el-ai-chat-ic-thumb-down:before { content: '\e93a'; } /* '' */
.el-ai-chat-ic-thumb-up:before { content: '\e93b'; } /* '' */
.el-ai-chat-ic-refresh:before { content: '\e93c'; } /* '' */
.el-x-social-ultra:before { content: '\e93d'; } /* '' */
.el-ai-chat-ic-share:before { content: '\e93e'; } /* '' */
.el-ai-chat-ic-sound-on:before { content: '\e93f'; } /* '' */
.el-youtube-social-ultra:before { content: '\e940'; } /* '' */
.el-fb-social-ultra:before { content: '\e941'; } /* '' */
.el-ig-social-ultra:before { content: '\e942'; } /* '' */
.el-legend-box-active:before { content: '\e943'; } /* '' */
.el-legend-box:before { content: '\e944'; } /* '' */
.el-edu-fill:before { content: '\e945'; } /* '' */
